.buttons {
	height: 75vh;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	button {
	margin: 3px;
	color: white;
	font-size: 21px;
	padding: 12px;
    }
}

.messages {
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}